asgiref==3.7.2
certifi==2025.4.26
charset-normalizer==3.4.2
Django==3.2.25
idna==3.10
pyngrok==7.0.5
pytz==2025.2
PyYAML==6.0.1
requests==2.31.0
sqlparse==0.4.4
typing-extensions==4.7.1
urllib3==1.26.10
